
* {
    box-sizing: border-box;
}

body{
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: azure;
    background-color: hsl(260 60% 60% / 1);
    padding: 0.05%;
    margin-bottom:5%;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;

}

.box1,.box2,.box3,.box4, .box5, .box6{
    border: 2px solid #b8b8b8;
    padding:15px;
    width:35vw;
    height:25vw;
    border-radius: 2vw;
    background-position: center;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.box1{
    background-image: url(skybound.png);
}

.box2{
    background-image: url(endlessmathtest.png);
}

.box3{
    background-image: url(treeclicker.png);
}

.box4{
    background-image: url(oceanparallax.png);
}

.box5{
    background-image: url(magicwand.png);
}

.box6{
    background-image: url(scratchcatonatrain.png);
}

a:hover{
    border-style:groove;
}